body {
    text-align: center;
}

h1, h2, h3 {
    font-family: 'EB Garamond', serif;
    font-variant: small-caps;
}

* {
    font-family: 'Source Serif Pro', serif;
}

.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    width: 20vw;
    margin: 0 auto;
    gap: 1rem;
}

.input-width {
    width: 90%;
}

/* div {
    box-sizing: border-box;
} */

/* .flex-container {
    display:flex;
    flex-wrap: wrap;
    gap: 1rem;
} */
