body {
    text-align: center;
}

h1, h2, h3 {
    font-family: 'EB Garamond', serif;
    font-variant: small-caps;
}

* {
    font-family: 'Source Serif Pro', serif;
}

.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    width: 20vw;
    margin: 0 auto;
    gap: 1rem;
}

.input-width {
    width: 90%;
}

#result {
    margin: 0 auto;
    margin-top: 2rem;
    border: 1px solid black;
    width: 20vw;
    height: 5rem;
}

/********* LEVELS OF DIFFICULTY *********************/

.trivial {
    background-color: lightblue; 
}

.easy {
    background-color: lightgreen;
}

.medium {
    background-color: gainsboro;
}

.hard {
    background-color: lightgoldenrodyellow;
}

.deadly {
    background-color: lightcoral;;
}

/********* MEDIA *********************/

@media (max-width: 895px) {
    #result {
        width: 163.797px;
    }
}